body {
	background-color: powderblue;
}

h1 {

	color: blue;
	font-size:400%;
	text-align:center;
	font-family:courier;
	border:2px solid red;
	padding:2px;
 }

p {
	color: red;
	font-size:200%;
	font-family:verdana;
	border:2px solid yellow;
}